.cartitem {
  max-width: 850px;
  height: 130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartitem > div {
  display: flex;
  align-items: center;
}

.cartitem_img {
  object-fit: contain;
  width: 100px;
}

.cartitem_amount {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: space-between;
}

button {
  height: 25px;
  width: 70px;
  background-color: #cc8800;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
}
